<div class="jumbotron">
  <h2>Listing Users</h2>
  <table class="table">
    <%= for youth <- @youth do %>
      <tr>
        <td><%= render("youth.html", youth: youth) %></td>
        <td><%= link "View", to: youth_path(@conn, :show, youth.id) %></td>
      </tr>
    <% end %>
  </table>
</div>  